@import "tailwindcss";
@plugin "daisyui";

/* 🌐 DaisyUI ডিফল্ট থিমে global reset */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.dark body {
  background-color: #101828;
}


/* Font override চাইলে */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* @layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-300;
  }
} */