@import "tailwindcss";
@plugin "daisyui";

/* ЁЯМР DaisyUI ржбрж┐ржлрж▓рзНржЯ ржерж┐ржорзЗ global reset */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}




/* Font override ржЪрж╛ржЗрж▓рзЗ */
body {
  font-family: Arial, Helvetica, sans-serif;
}



.bg-gray-900 {
  background-color: #101828 !important;
}

.text-white{
  color: #FFFFFF !important;
}